<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>place-holder</title>
    <link href="style.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-controller="mainCtrl">
    <div class="container container-customer">
        <div class="col-md-12">
            <div class="col-md-2 col-md-offset-3"></div>
            <button class="btn btn-primary" ng-click="showUsers()">Show Users</button>
        </div>
        <div class="col-md-12 col-12-customer">
            <ul>
                <li>
                    <div class="col-md-12 head">
                        <div class="col-md-1 col-title-item">Id</div>
                        <div class="col-md-3 col-title-item">Name</div>
                        <div class="col-md-3 col-title-item">Company-Name</div>
                        <div class="col-md-3 col-title-item">Phone</div>
                        <div class="col-md-2 col-title-item">Edit</div>
                    </div>
                </li>
            </ul>
            <ul class="list-users" ng-show="displayUsers">
                <li class="user-item" ng-repeat="user in users">
                    <div class="col-md-12">
                        <div class="col-md-1 col-item col-item-id">{{user.id}}</div>
                        <div class="col-md-3 col-item col-item-name">{{user.name}}</div>
                        <div class="col-md-3 col-item col-item-company-name">{{user.company.name}}</div>
                        <div class="col-md-3 col-item col-item-phone">{{user.phone}}</div>
                        <div class="col-md-2 col-item col-item-edit">
                            <edit-user ng-click="editUser(user.id)"></edit-user>
                            <delete-user ng-click="deleteUser(user.id)"></delete-user>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-12" ng-show="userEditable">
            <button class="btn btn-danger"></button>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="app.js"></script>
<script src="mainController.js"></script>
<script src="appService.js"></script>
<script src="deleteUser.js"></script>
<script src="editUser.js"></script>

</body>
</html>