<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>place-holder</title>
    <link href="styles/style.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-controller="mainCtrl">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2 col-md-offset-3"></div>
            <button class="btn btn-primary" ng-click="showUsers()">Show Users</button>
        </div>
        <div class="col-md-12 col-12-customer">
            <ul>
                <li>
                    <div class="col-md-12 head">
                        <div class="col-md-1 col-title-item">Id</div>
                        <div class="col-md-3 col-title-item">Name</div>
                        <div class="col-md-3 col-title-item">Company-Name</div>
                        <div class="col-md-3 col-title-item">Phone</div>
                        <div class="col-md-2 col-title-item">Edit</div>
                    </div>
                </li>
            </ul>
            <ul class="list-users" ng-show="displayUsers">
                <li class="user-item" ng-repeat="user in users">
                    <div class="col-md-12">
                        <div class="col-md-1 col-item col-item-id">{{user.id}}</div>
                        <div class="col-md-3 col-item col-item-name">{{user.name}}</div>
                        <div class="col-md-3 col-item col-item-company-name">{{user.company.name}}</div>
                        <div class="col-md-3 col-item col-item-phone">{{user.phone}}</div>
                        <div class="col-md-2 col-item col-item-edit">
                            <edit-user ng-click="editUser(user)"></edit-user>
                            <delete-user ng-click="deleteUser(user.id)"></delete-user>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-md-offset-3 edit-form" ng-show="userEditability">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-xs-3">Name</label>
                <div class="controls col-xs-9">
                    <input type="text" class="form-control" ng-model='userEdited.name' placeholder="Name">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-xs-3">Company-Name</label>
                <div class="controls col-xs-9">
                    <input type="text" class="form-control" ng-model='userEdited.company.name' placeholder="Company-Name">
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-offset-4 col-xs-4">
                    <button type="button" class="btn btn-large btn-primary">Save User</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/mainController.js"></script>
<script src="js/services/appService.js"></script>
<script src="js/directives/deleteUser.js"></script>
<script src="js/directives/editUser.js"></script>

</body>
</html>