<button type="button" ng-click="editUserData()" class="btn btn-primary btn-custom-position">{{button}}</button>
<div class="col-md-12 row-top-position" ng-show="userFormData">
  <form class="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="user.name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="user.email">
        </div>
      </div>
    </div>

    <div class="row row-top-position">
      <div class="col-md-6">
        <div class="form-group">
          <label>Company</label>
          <input type="text" class="form-control" ng-model="user.company.name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" ng-model="user.phone">
        </div>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-success btn-custom-position" ng-click="saveUserData()">save</button>
</div>
